Repository sqlfluff/sqlfluff, pull requests merged in 2020-10, with the labels that each got.

#452 Improve config documentation
  docs/source/configuration.rst
Labels: documentation

#455 Respect leading commas for rule L022
  src/sqlfluff/default_config.cfg
  src/sqlfluff/rules/std.py
  test/rules_std_test.py
Labels: bug

#482 Modify supported python versions
  .circleci/config.yml
  README.md
  setup.py
  src/sqlfluff/__init__.py
  tox.ini
Labels: enhancement

#487 New rule: keys instead of using for joins
  src/sqlfluff/rules/std.py
  test/fixtures/cli/passing_b.sql
  test/rules_std_test.py
Labels: Hacktoberfest

#485 Adopt black code style
  README.md
  docs/source/conf.py
  setup.py
  src/sqlfluff/__init__.py
  src/sqlfluff/cli/commands.py
  src/sqlfluff/cli/formatters.py
  src/sqlfluff/cli/helpers.py
  src/sqlfluff/config.py
  src/sqlfluff/dialects/__init__.py
  src/sqlfluff/dialects/base.py
  src/sqlfluff/dialects/dialect_ansi.py
  src/sqlfluff/dialects/dialect_bigquery.py
  src/sqlfluff/dialects/dialect_mysql.py
  src/sqlfluff/dialects/dialect_postgres.py
  src/sqlfluff/dialects/dialect_snowflake.py
  src/sqlfluff/dialects/dialect_teradata.py
  src/sqlfluff/diff_quality_plugin.py
  src/sqlfluff/errors.py
  src/sqlfluff/linter.py
  src/sqlfluff/parser/__init__.py
  src/sqlfluff/parser/context.py
  src/sqlfluff/parser/grammar.py
  src/sqlfluff/parser/lexer.py
  src/sqlfluff/parser/markers.py
  src/sqlfluff/parser/match.py
  src/sqlfluff/parser/segment_generator.py
  src/sqlfluff/parser/segments_base.py
  src/sqlfluff/parser/segments_common.py
  src/sqlfluff/parser/segments_file.py
  src/sqlfluff/rules/__init__.py
  src/sqlfluff/rules/base.py
  src/sqlfluff/rules/config_info.py
  src/sqlfluff/rules/std.py
  src/sqlfluff/templaters.py
  test/cli/commands_test.py
  test/cli/formatters_test.py
  test/cli/helpers_test.py
  test/config_test.py
  test/conftest.py
  test/dialects/ansi_test.py
  test/dialects/dialects_test.py
  test/diff_quality_plugin_test.py
  test/linter_test.py
  test/parser/grammar_test.py
  test/parser/lexer_test.py
  test/parser/markers_test.py
  test/parser/match_test.py
  test/parser/segments_base_test.py
  test/parser/segments_core_test.py
  test/rules/std_fix_auto_test.py
  test/rules/std_roundtrip_test.py
  test/rules/std_test.py
  test/templaters_test.py
  tox.ini
  util.py
Labels: enhancement

#492 Refactor match libs and remove _match.
  src/sqlfluff/parser/grammar.py
  src/sqlfluff/parser/match_logging.py
  src/sqlfluff/parser/match_result.py
  src/sqlfluff/parser/match_wrapper.py
  src/sqlfluff/parser/segments_base.py
  src/sqlfluff/parser/segments_common.py
  test/dialects/ansi_test.py
  test/parser/grammar_test.py
  test/parser/match_test.py
Labels: enhancement

#498 Fix parsing of Between statements
  src/sqlfluff/dialects/dialect_ansi.py
  src/sqlfluff/parser/context.py
  src/sqlfluff/parser/grammar.py
  test/fixtures/parser/ansi/select_o.sql
Labels: bug

#500 Add requirements_dev.txt
  CONTRIBUTING.md
  requirements_dev.txt
  tox.ini
Labels: documentation

#515 Improve code coverage for rules
  .gitignore
  src/sqlfluff/core/rules/std.py
  test/core/rules/std_test.py
  tox.ini
Labels: enhancement
