Repository sqlfluff/sqlfluff, pull requests merged in 2020-12, with the labels that each got.

#576 Add pre commit hooks for `lint` and `fix`
  .pre-commit-hooks.yaml
  docs/source/conf.py
  docs/source/configuration.rst
  docs/source/production.rst
  src/sqlfluff/config.ini
Labels: enhancement

#615 Add to changelog for 0.4
  CHANGELOG.md
  CONTRIBUTING.md
Labels: documentation

#580 Improve typing/coverage for linter module
  requirements_dev.txt
  src/sqlfluff/core/errors.py
  src/sqlfluff/core/linter.py
  src/sqlfluff/core/rules/__init__.py
  test/core/linter_test.py
Labels: enhancement

#626 Include undeclared dependency "typing_extensions"
  setup.py
Labels: bug
