Repository sqlfluff/sqlfluff, pull requests merged in 2020-11, with the labels that each got.

#575 Add fix routine for L019
  src/sqlfluff/core/rules/std.py
  test/core/rules/rule_test_cases_test.py
  test/core/rules/test_cases/L019.yml
Labels: enhancement

#508 371 Optionally use DBT compiler as the TemplaterInterface
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/source/api.rst
  docs/source/architecture.rst
  docs/source/configuration.rst
  docs/source/realworld.rst
  mypy.ini
  pytest.ini
  requirements.txt
  setup.py
  src/sqlfluff/core/linter.py
  src/sqlfluff/core/templaters.py
  test/core/rules/std_test.py
  test/core/templaters_test.py
  test/fixtures/dbt/error_models/compiler_error.sql
  test/fixtures/dbt/error_models/exception_connect_database.sql
  test/fixtures/dbt/macro_in_macro.sql
  test/fixtures/dbt/profiles.yml
  test/fixtures/dbt/templater.py
  test/fixtures/dbt/use_dbt_utils.sql
  test/fixtures/dbt/use_headers.sql
  test/fixtures/dbt/use_var.sql
  test/fixtures/dbt_project/.gitignore
  test/fixtures/dbt_project/.sqlfluff
  test/fixtures/dbt_project/.sqlfluffignore
  test/fixtures/dbt_project/dbt_project.yml
  test/fixtures/dbt_project/macros/my_default_config.sql
  test/fixtures/dbt_project/macros/my_headers.sql
  test/fixtures/dbt_project/models/my_new_project/macro_in_macro.sql
  test/fixtures/dbt_project/models/my_new_project/select_distinct_group_by.sql
  test/fixtures/dbt_project/models/my_new_project/src_jaffle_shop.yml
  test/fixtures/dbt_project/models/my_new_project/use_dbt_utils.sql
  test/fixtures/dbt_project/models/my_new_project/use_headers.sql
  test/fixtures/dbt_project/models/my_new_project/use_var.sql
  test/fixtures/dbt_project/packages.yml
  tox.ini
Labels: dbt

#363 Added dbt incremental macro to default_config.cfg
  src/sqlfluff/core/default_config.cfg
Labels: question, templating

#594 Add EPOCH datetime unit for postgres
  src/sqlfluff/core/dialects/dialect_postgres.py
  test/core/dialects/postgres_test.py
  test/core/dialects/snowflake_test.py
Labels: dialect

#596 Allow an underscore as the first char in a semi structured element key
  src/sqlfluff/core/dialects/dialect_snowflake.py
  test/fixtures/parser/snowflake/snowflake_json_underscore_key.sql
Labels: bug
