Repository sqlfluff/sqlfluff, pull requests merged in 2021-01, with the labels that each got.

#577 Add rule L035 with fix, 'redundant ELSE NULL in CASE WHEN'
  src/sqlfluff/core/errors.py
  src/sqlfluff/core/rules/std.py
  test/core/rules/std_test.py
  test/core/rules/test_cases/L035.yml
Labels: new rule

#678 #419: Add rule L037 -- warn if "ORDER BY" has a mixture of columns with explicit and default ordering
  src/sqlfluff/core/rules/std.py
  test/core/rules/test_cases/L037.yml
  test/fixtures/linter/autofix/ansi/013_order_by_explicit/after.sql
  test/fixtures/linter/autofix/ansi/013_order_by_explicit/before.sql
  test/fixtures/linter/autofix/ansi/013_order_by_explicit/test-config.yml
Labels: new rule

#689 Fix leading comment/header issue in L019.
  src/sqlfluff/core/rules/std.py
  test/core/rules/test_cases/L019.yml
Labels: bug

#684 EXASOL dialect
  src/sqlfluff/core/dialects/__init__.py
  src/sqlfluff/core/dialects/dialect_ansi.py
  src/sqlfluff/core/dialects/dialect_exasol.py
  src/sqlfluff/core/dialects/dialect_exasol_fs.py
  src/sqlfluff/core/dialects/exasol_keywords.py
  src/sqlfluff/core/parser/grammar/delimited.py
  src/sqlfluff/core/rules/std/L020.py
  src/sqlfluff/core/rules/std/L031.py
  test/core/dialects/ansi_test.py
  test/core/dialects/conftest.py
  test/core/dialects/exasol_fs_test.py
  test/core/dialects/exasol_test.py
  test/fixtures/parser/ansi/multi_statement_a_nc.yml
  test/fixtures/parser/ansi/select_a.yml
  test/fixtures/parser/ansi/select_e.yml
  test/fixtures/parser/ansi/select_simple_b.yml
  test/fixtures/parser/ansi/select_simple_e.yml
  test/fixtures/parser/ansi/select_simple_e_nc.yml
  test/fixtures/parser/ansi/select_simple_j.yml
  test/fixtures/parser/ansi/select_with_a.yml
  test/fixtures/parser/bigquery/select_replace_2.yml
  test/fixtures/parser/snowflake/snowflake_pivot.yml
  test/fixtures/parser/snowflake/snowflake_semi_structured.yml
  test/fixtures/templater/jinja_a/jinja.yml
  test/fixtures/templater/jinja_b/jinja.yml
  test/fixtures/templater/jinja_c_dbt/dbt_builtins.yml
  test/fixtures/templater/jinja_f/jinja.yml
  test/fixtures/templater/jinja_g_macros/jinja.yml
Labels: dialect, enhancement
